*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public sans', sans-serif;
}

html,body{
   scroll-behavior: smooth;
}

ul{
   list-style: none;
}

a{
   text-decoration: none;
}

nav{
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    margin: 0px;  
}

.togglers{
   display: none;
}

nav li a{
    color: #9698B4;
}
nav ul{
    display: flex;
    gap: 50px;
    margin: 0px;
    font-size: 1.0em;
    text-align: center;
}
nav li{
    display: list-item;
    text-align: center;
}
button{
   all: unset;
   cursor: pointer;
    border-radius: 28px;
    background: linear-gradient( to right,#30CD7A, #2BB9D2);
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    margin: 0;
    align-items: normal;
}
#start{
    background-color: #F3F4F6;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}
#start .head-start{
    width: 40%;
    font-size: 1.6em;
    margin-bottom: 10px;
}
#start .head-start h1{
    font-size: 2em;
    font-weight: 300;
}
#start .head-start p{
   font-size: 20px;
   margin: 20px 0;
   line-height: 1.5;
}
#start .phone-pic{
    width: 45%;
}
 #about{
    background-color: white;
    padding: 6rem 4rem;
 }
 #about .about-header{
    width: 40%;
 }
 #about .about-header h1{
    font-size: 2.8em;
    font-weight: 400;
 }
 #about .about-header p{
    font-size: 1.2em;
    margin: 20px 0;
    color: #424542;
 }
 #about .about-body,#article .article-bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 0;
    gap: 50px;
    font-size: 16px;
 }
 #about .about-body h4{
    font-size: 18px;
    margin: 20px 0;   
    font-weight: 700; 
 }
 #article{
    padding: 6rem 4rem;
    background-color: #F3F4F6;
 }
 #article .article-top h2{
    font-size: 1.7em;
    margin: 60px 0;
    color: #9698A6;
    font-weight: 500;
 }
 #article .article-bottom img{
    width: 100%;
 }
 .for-bottom1{
   padding: 8px 0;
 }
 #article .article-bottom h4{
   padding: 0 20px;
 }
 #article .article-bottom a{
   display: block;
   margin: 20px 0;
   font-size: 15px;
    color: black;
    text-decoration: none;
    padding: 0 20px;
 }
 #article .article-bottom a:hover{
    color: #30CD7A;
 }
 #article .article-bottom p{
   font-size: 14px;
   padding: 5px 20px;
   font-weight: 1500;
   color: black;
 }
 footer{
   background-color: #2D314D;
 }
 #career{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 15px;
   padding-bottom: 2rem;
 }
 #career img{
   filter: invert(0.2);
 }
 #career .footer-link{
   display: flex;
   gap: 80px;
 }
 #career .footer-link li{
   margin: 15px 0;
 }
 #career a{
   color: white;
   font-size: 1em;
 }
 #career .top-footer{
   padding-left: 100px;
 }
 #career .footer{
   padding: 0 50px;
   display: grid;
   flex-direction: column;
   /* justify-content: flex-end; */
   align-items: flex-end;
 }
 @media screen and (max-width: 992px){
   nav{
      padding: 1rem 2rem;
   }
   #start{
      padding: 50px 2rem;
   }
   #start .head-start h1{
      font-size: 1.2em;
 }
 #start .head-start p{
   font-size: 16px;
 }
 #about{
    padding: 6rem 2rem;
 }
 #about .about-header{
    width: 60%;
 }
 #about .about-body, #article .article-bottom{
   gap: 25px;
 }
 #article{
   padding: 6rem 2rem;
 }
 #career{
   padding: 15px 2rem 2rem;
 }
 #career .top-footer{
   padding-left: 0;
 }
 #career .footer{
   padding: 0;
   
 }
 #career .footer-link{
   gap: 50px;
 }
}
 @media screen and (max-width: 768px){

   #about .about-body,#article .article-bottom{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   #about .about-header{
      width: 65%;
   }

   nav button{
      display: none;
   }
   
   #start .head-start{
      width: 50%;
      margin-bottom: 10px;
  }

   #start .head-start p{
      font-size: 16px;
   }

   #start .phone-pic{
      width: 45%;
   }

   #career{
      gap: 2rem;
   }
}

 @media screen and (max-width: 576px){

   
.togglers{
   display: block;
}
.ri-close-circle-line{
   display: none;
}

nav ul{
   position: fixed;
   flex-direction: column;
   background: white;
   width: 70%;
   top: -32%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 1rem 0;
   gap: 30px;
   border-radius: 10px;
   border: 1px solid grey;
   transition: .5s;
   z-index: 100;
}
   
   #start{
      flex-direction: column-reverse;
  }
  
  #start .head-start{
      width: 100%;
      text-align: center;
  }
  
  #start .phone-pic{
      width: 100%;
  }

  #about .about-header h1 {
      font-size: 2em;
  }

  #about .about-body,#article .article-bottom{
      grid-template-columns: repeat(1, 1fr);
  }

  #about .about-body{
      text-align: center;
  }

   #about .about-body img{
      width: 80px;
   }

   #about .about-header{
      text-align: center;
      width: auto;
   }

   #career{
      text-align: center;
      flex-direction: column;
      padding-top: 50px;
   }

 #career .footer-link{
   text-align: left;
 }

 #career .top-footer ul{
   text-align: center;
 }
 


}
 @media screen and (max-width: 480px){
   /* *{
      box-sizing: border-box;
   }
   #start{
      display: block; 
  }
  #start .head-start h1{
   text-align: center;
  }
  #start .phone-pic{
   width: 100%;
  }
  #about .about-body,#article .article-bottom{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   text-align: center;
}
#about .about-body img{
   width: 80px;
}
#about .about-header{
   text-align: center;
   width: auto;
}
#about .about-header h1{
   font-size: 2.8em;
   text-align: center;
   font-weight: 300;
}
*{
   width: 100%;
}

#career{
   display: block;
   box-sizing: border-box;
   text-align: center;
} */
#career .footer-link{
display: block;
gap: 30px;
text-align: center;
padding-left: 5px;
margin: 50px 0;
}
/* #career .top-footer ul{
text-align: center;
padding-right: 200px;
padding-left: 40px;
gap: 10px;
}
#career img{
padding-right: 130px;
}
#career .footer button{
width: 120px;
margin-left: 95px;
}
nav ul{
   display: none;
}
/* nav a{
   text-align: center;
} */
 }
  */